# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Logs
data/logs/
*.log

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Testing
.pytest_cache/
coverage/
*.cov
